<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <title>Landing Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1 class="display-1">Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape"  role="button">Scrape New Data</a></p>
    </div>

    <h2>Latest Mars News:</h2>
    <h4>{{mars.articletitle}}</h4>
    <p class="font-weight-light">{{mars.articleparagraph}}</p>
  </div>


  <div class="row">
  <!--First Column in this Row-->
  <div class="col-md-5">
      <div class = "container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
              <h1 class = "display-4">Featured Image from Mars<h1>
        </div>
        <a><img src= "{{mars.featuredimage}}" alt="Featured Image" height="400" width="600"></a>

    </div>
  </div>


  <!--Second Column in this Row-->
  <div class="col-md-3">
    <div class = "box">
      <div class = "container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
              <h1 class = "display-4">Mars Facts<h1>
        </div>
        {{mars.marstable|safe}}


      </div>
    </div>
  </div>

 </div>

 <div class="row">
 
  <div class="col-md-5">
    {% for dictionary in mars.hemispheres%}
      <div class = "container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
              <h2>{{dictionary.title}}</h2>
        </div>
        <a><img src= "{{dictionary.image}}" alt="Hemisphere" height="400" width="600"></a>
    {% endfor %}

    </div>
  </div>
</div>











</body>
</html>
